html,body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

.member-show{
  background-color: #dddddd;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  flex: 1;
}

.member-box{
  background-color: white;
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name{
  font-size: 20px;
  padding-top: 10px;
  font-weight: bold;
}

.member-img{
  height: 50vh;
  width: 60vw;
  min-height: 100px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
  margin-top: 20px;
}

.member-table{
  margin-top: 20px;
}

.show-info,.show-value{
  min-height: 20vh;
  max-width: 25vw;
  overflow-wrap: anywhere;
  padding: 5px;
  border: 0.5px solid #333333;
}

.show-item{
  background-color: #dddddd;
  border: solid 0.5px #333333;
  padding: 5px;
}

.meeting-contents{
  margin-top: 15px;
  min-height: 15vh;
  min-width: 60vw;
  display: flex;
  flex-direction: column;
}

.meeting-table{
  margin-top: 20px;
  width: 60vw;
  min-height: 15vh;
}

.meeting-item{
  background-color: #dddddd;
  border: solid 0.5px #333333;
  padding: 5px;
}

.meeting-info{
  min-width: 9vw;
  overflow-wrap: anywhere;
  padding: 5px;
  border: 0.5px solid #333333;
}

.meeting-btn-content{
  display: flex;
  justify-content: center;
}
.submit-btn{
  background-color: #0c4da2;
  box-shadow: 0 3px #022561;
  border-radius: 5px;
  top: -2px;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  text-align: center;
  padding: 10px;
  min-width: 10vw;
  display: block;
}

.submit-btn:hover{
  box-shadow: 0 1px #022561;
  top: 0px;
}


