html,body{
  height: 100%;
}

header{
  height: 50px;
  background-color:black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}

li {
  list-style: none;
}

.system-title{
  font-size: 30px;
  font-family:'Oswald', sans-serif;
  text-align: justify;
}

.right-lists{
  display: flex;
  min-width: 20vw;
  justify-content: space-around;
  padding: 5px 10px;
  font-family:'Shippori Mincho', serif ;
}

.header-list{
  margin-left: 15px;
}

.header-list:hover{
  color: red;
}
