body{
  display: flex;
  flex-direction: column;
}

.top-page-content{
  display: flex;
  flex: 1;
}

.left-content{
  width: 70vw;
  height: 100vh;
  background-image: url('/top-page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.right-content{
  width: 30vw;
  height: 100vh;
  font-size: 18px;
}

.main-menu{
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  margin: 200px 100px;
  padding: 20px 20px 40px 20px;
  border: 1px solid;
  outline: 2px solid;
  outline-offset: 4px;
  border-radius: 6px;
}
.menu-list{
  background-color: #0c4da2;
  box-shadow: 0 3px #022561;
  border-radius: 5px;
  top: -2px;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  text-align: center;
  padding: 10px;
}

.menu-list:hover{
  box-shadow: 0 1px #022561;
  top: 0px;
}

.ad{
  text-align: center;
  font-family:'Allison', cursive ;
  font-size: 64px;
  font-weight: bolder;
  margin: 100px 30px;
  padding: 20px;
  
}