html,body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

.form-wrap{
background-color: #dddddd;
width: 100vw;
min-height: 90vh;
display: flex;
flex-direction: column;
align-items: center;
padding: 5vh 0;
flex: 1;
}

.form-header{
background-color: white;
width: 50vw;
height: 10vh;
font-size: 20px;
font-weight: bold;
text-align: center;
padding-top: 20px;
border-bottom:0.5px solid #dddddd;
}

.form-group,.btn-group{
background-color:white;
width: 50vw;
}

.indispensable {
background: #ea352d;
margin-left: 8px;
padding: 3px;
border-radius: 2px;
color: #fff;
font-size: 12px;
font-weight: bold;
}

.form-text-wrap{
margin: 10px 0px 10px 160px;
}

.account-input{
border: 1px solid gray;
border-radius: 5px;
width: 25vw;
height: 6vh;
margin: 0 0 10px 160px;
padding-left: 10px;
}

.btn-content{
display: flex;
justify-content: center;
}

.submit-btn{
background-color: #0c4da2;
box-shadow: 0 3px #022561;
border-radius: 5px;
top: -2px;
color: white;
font-size: 18px;
font-weight: lighter;
font-family: Arial, Helvetica, sans-serif;
margin: 10px;
text-align: center;
padding: 10px;
min-width: 10vw;
display: block;
}

.submit-btn:hover{
box-shadow: 0 1px #022561;
top: 0px;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin: 3px 0;
  text-align: center;
}

.login-way{
  background-color: white;
  width: 50vw;
  padding-top: 20px;
  text-align: center;
}

.sns-login{
  background-color: white;
  width: 50vw;
  display: flex;
  justify-content: center;
}

.facebook{
  width: 12vw;
  padding-left: 10px;
  padding-top: 3px;
  margin: 10px 10px 0 10px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
}

.google{
  width: 12vw;
  padding-left: 10px;
  margin: 10px 10px 0 10px;
  border: 1px solid gray;
  border-radius: 5px; 
  display: flex;
}

.facebook-link,.google-link{
  padding: 8px 10px 10px 20px;
}

.google-link{
  padding: 10px 10px 10px 20px;
}

.facebook-link:hover,.google-link:hover{
  color: red;
}

