<%= render "shared/header" %>
  
  <div class='members-show'>
          <div class='members-box'>
           <div class='member-table-explanation'>
              <span class='index-title'>ユーザー名＆様の管理Member一覧</span>
           </div>
           <div class='member-menu'>
              <ul class='member-menu-list'>
                <li class='menu-list'>トップページ</li>
                <li class='menu-list'>Member 登録</li>
              </ul>
           </div>
           <table class='members-table'>
             <thead>
               <tr>
                 <th class='member-item'>氏名</th>
                 <th class='member-item'>所属</th>
                 <th class='member-item'>役職</th>
                 <th class='member-item'>職務内容</th>
                 <th class='member-item'>総合評価</th>
                 <th class='member-item'>コミュニケーション能力</th>
                 <th class='member-item'>リーダーシップ</th>
                 <th class='member-item'>スキル</th>
                 <th class='member-item'>モチベーション</th>
               </tr>
             </thead>
             <tbody>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
                <tr>
                  <td class='member-info'>メンバーX</td>   
                  <td class='member-info'>XXXXXXXXX</td>   
                  <td class='member-info'>XXXX</td>   
                  <td class='member-info'>XXXXXXXXXXXXX</td>   
                  <td class='member-value'>X</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                  <td class='member-value'>XX</td>   
                </tr>
             </tbody>
           </table>
          </div>
        </div>

<%= render "shared/footer" %>