<%= render "shared/header" %>

<div class='member-contents'>
        <div class='member-wrap'>
          <div class='member-reg-box'>
            <h2 class='member-reg-title'>Member情報入力</h2>
          </div>
          <div class='img-upload'>
            <div class='title-text'>
             画像
            </div>
            <div class='click-upload'>
              <input type="file">
            </div>
          </div>
          <div class='member-info'>
            <div class="title-text">
             名前
             <span class='indispensable'>必須</span>
            </div>
            <input type="text" placeholder="氏名" class='name-text'>
          </div>
          <div class='member-info'>
            <div class="title-text">
             所属
             <span class='indispensable'>必須</span>
            </div>
            <input type="text" placeholder="所属" class='name-text'>
          </div>
          <div class='member-info'>
            <div class="title-text">
              役職
            </div>
            <input type="text" placeholder="役職" class='name-text'>
          </div>
          <div class='member-info'>
            <div class="title-text">
              職務内容
              <span class='indispensable'>必須</span>
            </div>
            <textarea placeholder="職務内容" class='exp-area'></textarea>
          </div>
          <div class='member-info'>
            <div class="title-text">
              総合評価
              <span class='indispensable'>必須</span>
            </div>
              <select name='valuation' class='select-box'>
                <option value='S'>S</option>
                <option value='A'>A</A></option>
                <option value='B'>B</B></option>
                <option value='C'>C</option>
                <option value='--' selected>--</option>
              </select>
          </div>
          <div class='member-info'>
            <div class="title-text">
              コミュニケーション能力
              <span class='indispensable'>必須</span>
            </div>
              <select name='valuation' class='select-box'>
                <option value='10'>10</option>
                <option value='9'>9</option>
                <option value='8'>8</option>
                <option value='7'>7</option>
                <option value='6'>6</option>
                <option value='5'>5</option>
                <option value='4'>4</option>
                <option value='3'>3</option>
                <option value='2'>2</option>
                <option value='1'>1</option>
                <option value='--' selected>--</option>
              </select>
          </div>
          <div class='member-info'>
            <div class="title-text">
              リーダーシップ
              <span class='indispensable'>必須</span>
            </div>
              <select name='valuation' class='select-box'>
                <option value='10'>10</option>
                <option value='9'>9</option>
                <option value='8'>8</option>
                <option value='7'>7</option>
                <option value='6'>6</option>
                <option value='5'>5</option>
                <option value='4'>4</option>
                <option value='3'>3</option>
                <option value='2'>2</option>
                <option value='1'>1</option>
                <option value='--' selected>--</option>
              </select>
          </div>
          <div class='member-info'>
            <div class="title-text">
              スキル
              <span class='indispensable'>必須</span>
            </div>
              <select name='valuation' class='select-box'>
                <option value='10'>10</option>
                <option value='9'>9</option>
                <option value='8'>8</option>
                <option value='7'>7</option>
                <option value='6'>6</option>
                <option value='5'>5</option>
                <option value='4'>4</option>
                <option value='3'>3</option>
                <option value='2'>2</option>
                <option value='1'>1</option>
                <option value='--' selected>--</option>
              </select>
          </div>
          <div class='member-info'>
            <div class="title-text">
              モチベーション
              <span class='indispensable'>必須</span>
            </div>
              <select name='valuation' class='select-box'>
                <option value='10'>10</option>
                <option value='9'>9</option>
                <option value='8'>8</option>
                <option value='7'>7</option>
                <option value='6'>6</option>
                <option value='5'>5</option>
                <option value='4'>4</option>
                <option value='3'>3</option>
                <option value='2'>2</option>
                <option value='1'>1</option>
                <option value='--' selected>--</option>
              </select>
          </div>
          <div class='member-btn-content'>
            <input type='submit' value='登録する' class='submit-btn'>
            <input type='submit' value='戻る' class='submit-btn'>
          </div>
        </div>
      </div>

<%= render "shared/footer" %>