<%= render "shared/header" %>

      <div class='top-page-content'>
        <div class='left-content'>
        </div>
        <div class='right-content'>
          <% if user_signed_in? %>
          <div class='main-menu'>
            <p>Main Menu</p>
              <ul class='main-menu-lists'>
                <li class='menu-list'>Member 登録</li>
                <li class='menu-list'>Member 一覧</li>
              </ul>
          </div>
          <% else %>
           <div class='ad'>
            <p>Manage</p>
            <p>Your Resources</p>
            <p>Effecttively</p>
            <p>and</p>
            <p>Efficiently</p>
          </div>
          <% end %>
        </div>
      </div>


<%= render "shared/footer" %>